<a href="https://colab.research.google.com/github/ankitaattavar/Supervsied-ML-algorithms/blob/main/knn_10_assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions
from sklearn.model_selection import cross_val_score # import all the functions reqd for cross validation

In [56]:
from google.colab import drive 
drive.mount('/content/gdrive')
df = pd.read_csv('gdrive/My Drive/trainKNN.txt',names = ["row","RI", "Na", "Mg", "Al","Si","K","Ca","Ba","Fe","Type"])

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [58]:
df.head()

   row       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0    1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1    2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2    3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3    4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4    5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
df.isnull().sum()

row     0
RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [5]:
df.describe()

,row,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,102.862245,1.518295,13.375204,2.758980,1.454337,72.635408,0.519388,8.910714,0.164235,0.050255,2.668367
std,61.195663,0.003055,0.783145,1.392641,0.491688,0.763578,0.672703,1.421490,0.485198,0.086359,2.062416
min,1.000000,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,49.750000,1.516458,12.877500,2.362500,1.190000,72.317500,0.140000,8.220000,0.000000,0.000000,1.000000
50%,101.500000,1.517630,13.280000,3.480000,1.360000,72.810000,0.560000,8.575000,0.000000,0.000000,2.000000
75%,153.250000,1.518985,13.792500,3.610000,1.622500,73.080000,0.610000,9.092500,0.000000,0.090000,3.000000
max,211.000000,1.533930,15.790000,4.490000,3.500000,75.180000,6.210000,16.190000,3.150000,0.340000,7.000000

In [ ]:
df.dtypes

row       int64
RI      float64
Na      float64
Mg      float64
Al      float64
Si      float64
K       float64
Ca      float64
Ba      float64
Fe      float64
Type      int64
dtype: object

In [6]:
df.tail()

     row       RI     Na   Mg    Al     Si     K    Ca    Ba   Fe  Type
191  207  1.51645  14.94  0.0  1.87  73.11  0.00  8.67  1.38  0.0     7
192  208  1.51831  14.39  0.0  1.82  72.86  1.41  6.47  2.88  0.0     7
193  209  1.51640  14.37  0.0  2.74  72.85  0.00  9.45  0.54  0.0     7
194  210  1.51623  14.14  0.0  2.88  72.61  0.08  9.18  1.06  0.0     7
195  211  1.51685  14.92  0.0  1.99  73.06  0.00  8.40  1.59  0.0     7

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
191    False
192    False
193    False
194    False
195    False
Length: 196, dtype: bool

In [59]:
df=df.drop_duplicates()
df.head(4)

   row       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0    1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1    2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2    3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3    4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1

In [60]:

df1 = pd.read_csv('gdrive/My Drive/testKNN.txt',names = ["row","RI", "Na", "Mg", "Al","Si","K","Ca","Ba","Fe","Type"])
df1.head()

   row       RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  Type
0   68  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.0  0.17     1
1   69  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16     1
2   70  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03     1
3  144  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.0  0.00     2
4  145  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.0  0.24     2

In [61]:
df.head()

   row       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0    1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1    2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2    3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3    4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4    5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [62]:
#Splitting into test and train
y_train = df['Type']
X_train = df.iloc[:,0:10]
X_train

     row       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...
191  207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.0
192  208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.0
193  209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.0
194  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
195  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0

[196 rows x 10 columns]

In [63]:
y_train.head()

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [64]:
#test data
X_test=df1.iloc[:,0:10]
y_test= df1["Type"]
y_test.head()

0    1
1    1
2    1
3    2
4    2
Name: Type, dtype: int64

In [65]:
#Scaling
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)
X_train

array([[-1.66879631,  0.89081203,  0.3389847 , ..., -0.11334995,
        -0.33935667, -0.5834224 ],
       [-1.65241344, -0.22479561,  0.65902807, ..., -0.76221546,
        -0.33935667, -0.5834224 ],
       [-1.63603056, -0.69400706,  0.19816562, ..., -0.79747989,
        -0.33935667, -0.5834224 ],
       ...,
       [ 1.73884146, -0.62182068,  1.27351132, ...,  0.38035207,
         0.77644048, -0.5834224 ],
       [ 1.75522433, -0.67760106,  0.97907143, ...,  0.18992414,
         1.8509118 , -0.5834224 ],
       [ 1.7716072 , -0.47416673,  1.97760672, ..., -0.36020096,
         2.94604604, -0.5834224 ]])

In [66]:
knn = KNeighborsClassifier(n_neighbors=4,metric='manhattan')
knn.fit(X_train,y_train)
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

KNeighborsClassifier(metric='manhattan', n_neighbors=4)

In [67]:
from sklearn.metrics import classification_report, accuracy_score
y_pred = knn.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         3
           2       0.50      1.00      0.67         3
           3       1.00      0.67      0.80         3
           5       1.00      0.67      0.80         3
           6       1.00      0.33      0.50         3
           7       0.75      1.00      0.86         3

    accuracy                           0.78        18
   macro avg       0.88      0.78      0.77        18
weighted avg       0.88      0.78      0.77        18

In [76]:
print("Manhattan accuracy:",accuracy_score(y_test,y_pred))

Manhattan accuracy: 0.7777777777777778

In [69]:
#Euclidean
from sklearn.neighbors import KNeighborsClassifier
knn1 = KNeighborsClassifier(n_neighbors = 4, metric = 'euclidean')
knn1.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=4)

In [77]:
y_pred1 = knn1.predict(X_test)
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         3
           2       0.33      1.00      0.50         3
           3       0.00      0.00      0.00         3
           5       1.00      0.33      0.50         3
           6       1.00      0.33      0.50         3
           7       0.75      1.00      0.86         3

    accuracy                           0.61        18
   macro avg       0.68      0.61      0.56        18
weighted avg       0.68      0.61      0.56        18

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [75]:
print("Euclidean accuracy:",accuracy_score(y_test,y_pred1))

Euclidean accuracy: 0.6111111111111112

In [92]:
knn22 = KNeighborsClassifier(n_neighbors=4,metric='manhattan')
knn22.fit(X_train,y_train)
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

KNeighborsClassifier(metric='manhattan', n_neighbors=4)

In [93]:
y_pred22= knn22.predict(X_test)
print(classification_report(y_test,y_pred22))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         3
           2       0.50      1.00      0.67         3
           3       1.00      0.67      0.80         3
           5       1.00      0.67      0.80         3
           6       1.00      0.33      0.50         3
           7       0.75      1.00      0.86         3

    accuracy                           0.78        18
   macro avg       0.88      0.78      0.77        18
weighted avg       0.88      0.78      0.77        18

In [94]:
accuracy_score(y_test,y_pred22)

0.7777777777777778